{% extends "layout.html" %} 
{% block title %}Upload to the 'doc' chain{%endblock %}
{% block content %}
    <h1>Welcome To The 'doc' Chain</h1>

    <form method="POST" action="/" enctype="multipart/form-data">
        <h2>Select an input type:</h2>
        <label for="radMessage">Message</label>
        <input type="radio" id="radMessage" name="inputType" value="message" required="1">

        <label for="radFile">File</label>
        <input type="radio" id="radFile" name="inputType" value="File" required="1">
        <h3>Upload a simple text message</h3>
        <textarea name="message"></textarea>
        <br>
        <label for="file">Upload a file to the doc chain</label>
        <input type="file" name="file" id="file">
        <br>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </form>

    <a href="/docChain">View Doc Chain</a>
{%endblock%}