{% extends "layout.html" %} 
{% block title %}Transaction page{%endblock %}
{% block content %}
    <form method="POST" action="{{url_for('transaction_page')}}">
        <label for="customerID">Customer's ID:</label>
        <input type="text" name="customerID" id="customerID"><br>

        <label for="customerPassword">Customer's Password:</label>
        <input type = "password" name = "customerPassword" id = "customerPassword"><br>

        <label for="amount">Amount:</label>
        <input type = "number" name = "amount" id = "amount"><br>

        <label for="recipientID">Recipient's ID:</label>
        <input type="text" name="recipientID" id="recipientID"><br>

        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </form>
{%endblock%}