{% extends "layout.html" %} 
{% block title %}view the doc chain{%endblock %}
{% block content %}
    {% if block.docType is eq "message" %}
    <p>Message: {{block.docRef}}</p>
    {% elif block.docType is eq "file" %}

        <p>Timestamp: {{ block.timestamp | formatTime }}</p>
        <p>Saved Hash of file: {{ block.docSum }}</p>
        <p>current Hash of file: {{currentHash}}</p>

    {% else %}
    <p>"Input Type not recognized, can not be served"</p>
    {% endif %}
{% endblock %}