{% extends "layout.html" %} 
{% block title %}view the doc chain{%endblock %}
{% block head%}
    <style>
        table, th, tr, td{
            border: 1px solid black

        }

    </style>
{% endblock %}
{% block content %}
    <table style="border: 1px solid black">
        <tr>
            <th>Previous Hash</th>
            <th>Time Stamp</th>
            <th>docType</th>
            <th>docSum</th>
            <th>docRef</th>
            <th>View Doc</th>
        </tr>
        {%for block in blocks%}
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">{{ block.previousHash}}</td>
                <td style="border: 1px solid black">{{ block.timestamp | formatTime }}</td>
                <td style="border: 1px solid black">{{ block.docType }}</td>
                <td style="border: 1px solid black">{{ block.docSum }}</td>
                <td style="border: 1px solid black">{{ block.docRef }}</td>
                <td style="border: 1px solid black"><a href = "docChain/view/{{loop.index - 1}}">View Record</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}